  <header class="page-header">
    <h1>Admin &raquo; Stats</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product Count</th>
          <th>Category Count</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <div><%= @product_count %></div>
              <%= link_to 'View Products', [:admin, :products], class: 'btn btn-info' %>
          </td>
          <td>
              <div><%= @category_count %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>